<body>

    <h2>Expenses App</h2>

    {{#if messages.sukuna}}
    <div class="errorMsg">{{messages.sukuna}}</div>
    {{/if}}

    <div class="sign_in">
        <button onclick="document.getElementById('id_register').style.display='block'">Register</button>
        <button onclick="document.getElementById('id_login').style.display='block'">Login</button>
    </div>

    <form action="/register" method="post">

        <div class="register animate" id="id_register">

            <label for="firstname"><b>Firstname</b></label>
            <input type="text" placeholder="Enter Firstname" name="firstname" required>

            <label for="lastname"><b>Lastname</b></label>
            <input type="text" placeholder="Enter Lastname" name="lastname" required>

            <label for="email"><b>Email</b></label>
            <input type="text" placeholder="Enter Email" name="email" required>

            <button type="submit"> Register </button>

        </div>

    </form>

    <form action="/login" method="post">

        <div class="login animate" id="id_login">

            <label for="email"><b>Email</b></label>
            <input type="text" placeholder="Enter Email" name="email" required>

            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" required>

            <button type="submit"> Login </button>

        </div>

    </form>

    <script>
        // Get the modal
        var register = document.getElementById('id_register');
        var login = document.getElementById('id_login');
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == register) {
                register.style.display = "none";
            } else if (event.target == login) {
                login.style.display = "none";
            }
        }
    </script>

</body>